*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	--white: #fff;
	--black: #000;
	--lightBlack: #2c2c2c;
	--main: #ff6e68;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container {
	width: 1300px;
	margin: 0 auto;
}
.nav {
	width: 100%;
	height: 70px;
	box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	background: var(--white);
	z-index: 1;
}
.nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 70px;
	justify-content: space-between;
}
.nav-left img {
	width: 100px;
}
.header{
  background: url("./images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100vh;
}
a {
	text-decoration: none;
}
.cart-icon {
	color: var(--main);
	font-size: 22px;
}
.basket {
	position: relative;
}
.basket span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -15px;
	top: -10px;
	width: 25px;
	height: 25px;
	background: var(--lightBlack);
	border-radius: 50%;
	color: var(--white);
	font-size: 12px;
}
.product-img{
	overflow: hidden;
}
.product-img img{
	transition: all 0.5s linear;
}
.product-img img:hover{
	transform:scale(1.2);
}
.product-name{
	margin: 10px 0;
	text-transform: capitalize;
	color: #707070;
}
.actualPrice {
	text-decoration: line-through;
	font-size: 18px;
}
.product-discount-price {
	font-size: 18px;
}
.product-price .discount {
	color: silver;
	font-weight: 400;
	font-size: 13px;
}

/* Product Details */

.details-sec{
	margin-top: 100px;
}
.details-image {
	width: 100%;
	height: auto;
	padding-right: 30px;
}
.details-image img {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}
.details-name {
	font-size: 28px;
	color: #2c2c2c;
	font-weight: 400;
	text-transform: capitalize;
}
.details-prices {
	margin: 10px 0;
}
.details-actaul {
	text-decoration: line-through;
	font-size: 20px;
}
.details-discount {
	margin-left: 20px;
	font-size: 20px;
}
.details-incDec {
	display: flex;
}
.dec,
.inc,
.quantity {
	width: 60px;
	height: 60px;
	border: 1px solid silver;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.quantity {
	border-left: none;
	border-right: none;
}
.inc,
.dec {
	cursor: pointer;
}
.btn-default {
	margin-left: 10px;
	width: 100%;
	border: none;
	background: var(--main);
	color: var(--white);
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
.details-p {
	margin-top: 15px;
}
.details-p h4 {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 18px;
}

/* cart */
.cart {
	margin-top: 100px;
}
.cart h3 {
	font-weight: 400;
}
.cart-heading {
	background: #f4f6f8;
	padding: 10px;
}
.cart-image img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}
.verticalAlign {
	align-items: center;
	margin-top: 10px;
}
.text-center {
	text-align: center;
}
.cart-remove {
	cursor: pointer;
}
.summary {
	padding-left: 10px;
}
.summary-heading {
	background: #f4f6f8;
	padding: 10px;
}
.summary-details {
	background: var(--main);
	color: var(--white);
	padding: 15px;
}
.mb-10 {
	margin-bottom: 10px;
}
.checkout {
	border: none;
	cursor: pointer;
	outline: none;
	background: var(--white);
	color: var(--main);
	width: 100%;
	padding: 12px 5px;
	font-size: 17px;
	text-transform: uppercase;
}
@media (max-width: 765px) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
	.col-3 {
		width: 50%;
	}
	.col-2 {
		width: 100%;
		text-align: center;
		padding: 5px;
	}
	.col-6 {
		width: 100%;
	}
	.col-9 {
		width: 100%;
	}
	.details-image {
		padding-right: 0;
	}
	.cart-heading {
		display: none;
	}
	.summary-col {
		width: 100% !important;
	}
	.cart-incDec {
		display: flex;
		justify-content: center;
	}
	.cart h3 {
		text-align: center;
	}
}
@media (max-width: 400px) {
	.col-3 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-6 {
		width: 100%;
	}
	.details-image {
		padding-right: 0;
	}
}

/* Footer */

footer {
	display: grid;
	justify-content: end;
	min-height: 60vh;
	align-content: end;
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 50px;
	background: #222222;
  }
  footer .container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-gap: 20px;
  }
  footer .container .sec h2 {
	position: relative;
	color: white;
	font-weight: 500;
  }
  footer .container .sec p {
	color: white;
	margin-top: 10px;
  }
  .social-icon {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-gap: 10px;
  }
  .social-icon li {
	list-style: none;
	border: 1px solid white;
	border-radius: 50px;
  }
  .social-icon li a {
	display: inline-block;
	color: white;
	width: 48px;
	height: 48px;
	display: grid;
	background: #222222;
	opacity: 0.8;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50px;
  }
  .social-icon li a:hover {
	background-color: white;
	color: #222222;
  }
  .quick-links {
	position: relative;
  }
  .quick-links li {
	list-style: none;
	margin-top: 10px;
  }
  .quick-links li a {
	color: white;
	text-decoration: none;
	margin-bottom: 10px;
  }
  .quick-links li a:hover {
	color: pink;
  }
  .info {
	position: relative;
  }
  .info li {
	display: grid;
	/* grid-template-columns: 30px 1fr; */
	margin-bottom: 30px;
  }
  .info li p {
	color: white;
  }
  .info a {
	color: white;
	text-decoration: none;
  }
  .info a:hover {
	color: pink;
  }
  .copyright-sec {
	width: 100%;
	color: white;
	padding: 30px 0px;
	text-align: center;
	border-top: 2px solid #ddd;
  }
  
  @media (max-width: 991px) {
	footer {
	  padding: 40px;
	}
	footer .container {
	  grid-template-columns: repeat(2, 1fr);
	}
	.copyright-sec {
	  padding: 8px 40px;
	}
  }
  @media (max-width: 768px) {
	footer .container {
	  grid-template-columns: repeat(1, 1fr);
	}
  }